* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.hero--img {
  margin: ;
}